.zsh-history
.pry_history
.ipython/profile_default/history.sqlite

# work settings
.zsh/work.zsh

# credentials
.config/gcloud
.config/nvim/*.netrwhist
.config/nvim/init *.vim
.config/karabiner
.config/direnv
.config/configstore
.config/heroku
.config/pandas_gbq

.netrwhist
