[user]
	name = Jwata
  email = watanabe0621@gmail.com
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[help]
	autocorrect = 1
[alias]
	st = status
	ad  = add
	sts = stash
	stsp= stash pop
	br = branch
	co = checkout
	df = diff
	dfc= diff --cached
	rh = reset HEAD
	lg = log -p
	gr = grep
[core]
	editor = nvim
	# pager = nkf -w | LESSCHARSET=utf-8 less
	pager = LESSCHARSET=utf-8 less
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol
[branch]
	#autosetuprebase = always
[push]
	default = current
[http]
	sslVerify = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
#[merge]
#    tool = intellij
# [mergetool "intellij"]
#    cmd = /Applications/IntelliJ\\ IDEA.app/Contents/MacOS/idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
#    trustExitCode = true
[pull]
	rebase = true
