[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/autoenv"]
	path = .zsh/autoenv
	url = https://github.com/kennethreitz/autoenv
[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "nvim/vim-plug"]
	path = nvim/vim-plug
	url = https://github.com/junegunn/vim-plug
